<br><br>


<p style="font-size:1.5em">
  <a href="mailto:someone?subject=<%=@note.title %>&body=<%= @email_body %>">Email Note</a>: <%= @note.title %>
</p>

<p style="font-size:1.5em">
  <%= link "Back", to: note_path(@conn, :show, @note.id, index: @index, id_string: @id_string, note: @note), class: "" %>
</p>