<div style="margin-top:-22.5px; margin-bottom:0; width:100%">

   <span style="float:left;">
   <%= form_for @conn, search_path(@conn, :index), [name: :search], fn f -> %>
       <%= text_input f, :query, placeholder: "Search ...", autocorrect: "off", autocapitalize: "off", style: "display:inline-block; margin-top:-18px; margin-bottom:3px; width:190px; height:35px; font-size:1.8rem; background-color:#eee;", id: "search_notes" %>
   <%= end %>
   </span>

 </div>