<h4>
  Sites: <%= length(@users)%>
  <span style="margin-left:10px;"><%= link "Random site", to: "/random_site", class: "btn btn-default btn-s", id: "more_articles" %></span>
</h4>

<table class="table">
  <thead>
    <tr>
      <th>Site</th>
      <th>Blurb</th>

    </tr>
  </thead>
  <tbody>
<%= for user <- @users do %>
    <tr>
      <td><%= link user.username, to: "/site/#{user.username}?page=home" %></td>
      <td><%= user.blurb %></td>
    </tr>
<% end %>
  </tbody>
</table>


